{% extends "AdminAdminBundle::layout.html.twig" %}

{% block title %}
    Détails de la catégorie
{% endblock %}

{% block theblog_body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Détail de la catégorie <span class="text-primary">{{ categorieParent.nom }}</span></h1>
        </div>
    </div>

    <p class="well">
        <label class="text-info">description</label> {{ categorieParent.description }}
    </p>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>liste des sous-catégories</h3>
                            </div>
                            <div class="panel-body">
                                {% if app.session.flashBag.has('info') %}
                                    <div class="alert alert-success">
                                        {% for msg in app.session.flashBag.get('info') %}
                                            {{ msg }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                </a>
                                {% if categories is empty %}
                                    <p>pas encore de sous catégorie</p>
                                <div class="panel panel-default panel-table">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col col-xs-6">
                                            </div>
                                            <div class="col col-xs-6 text-right">
                                                <a  href="{{ path('admin_admin_ajoutcategorie') }}" class="btn btn-sm btn-primary btn-create fa fa-plus"> Ajouter</a>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                <div class="panel panel-default panel-table">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col col-xs-6">
                                            </div>
                                            <div class="col col-xs-6 text-right">
                                                <a  href="{{ path('admin_admin_ajoutcategorie') }}" class="btn btn-sm btn-primary btn-create fa fa-plus"> Ajouter</a>
                                            </div>
                                        </div>
                                    </div>
                                    <table data-toggle="table" data-show-refresh="false" data-show-toggle="false" data-show-columns="false" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                                        <thead>
                                        <tr>
                                            <th class="table-action"><em class="fa fa-cog"></em></th>
                                            <th data-field="id" data-sortable="true">ID</th>
                                            <th data-field="title"  data-sortable="true">Nom</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for categorie in categories %}
                                            <tr>
                                                <td class="table-action">
                                                    <a title="Modifier" class="btn btn-default" href="{{ path('admin_admin_modifiercategorie', {'id': categorie.id}) }}"><em class="fa fa-pencil"></em></a>
                                                    <a title="Détails" class="btn btn-primary" href="{{ path('admin_admin_detailcategorie', {'id': categorie.id}) }}" ><em class="fa fa-eye"></em></a>
                                                    <a title="Supprimer" class="btn btn-danger" href="{{ path('admin_admin_supprimercategorie', {'id': categorie.id}) }}"  onclick="return confirm('Etes vous sure de vouloir supprimer l\'utilisateur ?')"><em class="fa fa-trash"></em></a>
                                                </td>
                                                <td>{{ categorie.id }}</td>
                                                <td>{{ categorie.nom }}</td>
                                             </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->


            </div>
        </div><!-- /.col-->
    </div><!-- /.row -->
{% endblock %}